<div class="plan-container">
  <div class="column column-offset-1">
    <% @plans.each do |plan| %>
      <div class="price-card">
        <div class="header">
          <!-- <%= plan[:name] %> -->
          Starter Plan
        </div>
        <div class="description">
          <ul>
            <li>Video chat system on your site.</li>
            <br>
            <li>Choose what page to allow video chat or allow all pages.</li>
            <br>
            <li>Customers can share the page they're viewing to invite a friend to chat.</li>
            <br>
            <li>Up to five people in a chat room at once.</li>
            <br>
            <li>Copy and paste pre-generated code for simple setup. See <%=link_to 'Dashboard',dashboard_path%> for example code.</li>
          </ul>
        </div>
        <div class="price">
          <%=number_to_currency((plan[:amount].to_f)/100)%> <span class="monthly">/month</span>
        </div>

        <div class="purchase-btn">
          <%if user_signed_in? %>

            <%= form_tag('/subscription_checkout', {method: :post, plan: plan}) do %>
              <input name="plan_id" type="hidden" value="<%= plan[:id] %>"></input>
              <p>
                <%= label_tag(:couponCode, 'Coupon:') %>
                <%= text_field_tag(:couponCode) %>
              </p>
              <script class="stripe-button"
                      src="https://checkout.stripe.com/checkout.js"
                      data-amount="<%= (plan[:amount]) %>"
                      data-currency="<%= plan[:currency] %>"
                      data-email=<%=current_user.email%>
                      data-image=""
                      data-key=<%=Figaro.env.STRIPE_PUBLISHABLE_KEY%>>
              </script>
            <%end%>
          <%else%>
              <a class="purchase-not-signed-in" href="/users/sign_in">Purchase</a>
        <%end%>
      </div>
    </div>
    <% end %>
  </div>
</div>
